h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    max-width: 500px;
    max-height: 500px;
    transition: box-shadow 2s;
}

img:hover {
    box-shadow: 0px 0px 10px 10px black;
}

